.topcontainer {
    background-color: #54e346;
    position: relative;
    padding-top: 200px;
}

.bottom-container {
    background-color: #54e346;
    padding: 50px 0 20px;
}

h1 {
    margin-top: 20px auto 0 auto;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 5.625rem;
    color: #6b011f;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #6b011f;
}

.programmer {
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #6b011f;
}

span {
    color: #6b011f;
    font-family: 'Hachi Maru pop', cursive;
}

a {
    color: #6b011f;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #aa2b1d;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #9b5151;
    color: black;
}

.bottom-clould {
    position: absolute;
    left: 200px;
    bottom: 350px;
}

.top-clould {
    position: absolute;
    right: 220px;
    top: 70px;
}

.python {
    border-radius: 30px;
    padding-top: 50px;
}

.legends-playground {
    width: 30%;
    float: left;
    padding-bottom: 90px;
    padding-right: 20px;
}

.fantasy {
    width: 30%;
    float: left;
    padding-right: 20px;
    padding-bottom: 60px;
}

.p1 {
    clear: left
}

.p2 {
    clear: left;
}

.p3 {
    color: white;
    margin: 60px auto 0 auto;
}

.p4 {
    color: white;
}

.p5 {
    width: 30%;
    margin: 0 auto 0 auto;
}

.p6 {
    color: #6b011f;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

p {
    line-height: 2;
}

hr {
    height: 0;
    width: 3%;
    border-style: none;
    border-bottom-style: dotted;
    border-width: thick;
    color: #6b011f;
    margin: 50px auto 50px auto;
}

.BUTTON_WAF {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 40px;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 1px 0 #000000;
    -moz-box-shadow: 1px 1px 1px 0 #000000;
    box-shadow: 1px 1px 1px 0 #000000;
    text-shadow: 1px 1px 1px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 20px;
    margin-bottom: 60px;
}

.BUTTON_WAF:hover {
    background: #54e346;
    border: solid #54e346;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}